
body {
         background-color: #f4f9f9;
    }
h1 {
    color: #66bfbf;
}

h3{
    color: aqua;
}

hr {
            
        border-style: none;
        border-top-style: dotted;
        border-color: grey;
        border-width: 5px;
        width: 5%;
    }
.s {
  list-style: none;
  display: inline-block;
}
