
body {
         background-color: #f4f9f9;
    }

    hr {
            
        border-style: none;
        border-top-style: dotted;
        border-color: grey;
        border-width: 5px;
        width: 5%;
    }